@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inbox</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularCore")
    @Scripts.Render("~/bundles/angularWunderlistApp")
</head>
<body ng-app="wunderlistApp" ng-controller="mainCtrl">

    <!--Правое окно для работы с item-->
    <div class="ui simple sidebar vertical menu right" ng-controller="itemCtrl">

        <div>
            <h4 style="text-align: center">{{currenItem.item.TodoTask}}</h4>
        </div>

        <div class="ui left icon input field" style="width: 258px;">
            <input name="title" type="text" ng-blur="changeName()" ng-model="currenItem.item.TodoTask">
            <i class="pencil icon"></i>
        </div>

        <div class="ui left icon input field" style="width: 258px;">
            <input name="addDate" id="datepicker" type="date" ng-blur="changeDate()" ng-model="date" placeholder="Задать дату выполнения" />
            <i class="calendar icon"></i>
        </div>

        <div class="ui left icon input field" style="width: 258px; position: fixed; bottom: 0">
            <input name="addComment" type="text" ng-model="newDescription" ng-blur="changeDescription()" placeholder="Добавить описание">
            <i class="comment icon"></i>
        </div>
    </div>
    <!--Окно для работы с данными пользователя-->
    <div class="ui standard test modal transition hidden" id="profileWindow" ng-controller="userCtrl">
        <div class="header">
            Бесплатный аккаунт
        </div>
        <br />
        <div class="ui stackable grid">
            <div class="five wide column">
                <div class="image content">
                    <div class="ui image">
                        <img id="ava" src="#" />
                        <div class="ui input large">
                            <label>{{user.Email}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="description">
                    <label>Имя</label>
                    <div class="ui fluid input">
                        <input type="text" name="name" placeholder="Ваше имя" ng-model="user.UserName">
                    </div>
                    <div class="ui error message hidden"></div>
                    <br />
                    <br />
                    <div>
                        <div id="uploadForm" enctype="multipart/form-data">
                            <input type="file" style="display: none;" id="hiddenFile" name="hiddenFile" ng-model="file" />
                            <label>Выберите ваш аватар</label>
                            <div class="ui fluid action input">
                                <input type="text" placeholder="Обзор..." name="photoCover" id="photoCover" readonly="readonly">
                                <div class="ui button" onclick="$('#hiddenFile').click();">
                                    <i class="folder icon"></i>Обзор
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="five wide column">
                <div id="uploadPreview" class="hidden">
                    <h4 class="ui horizontal divider header">
                        <i class="photo icon"></i>
                        Предосмотр
                    </h4>
                    <div class="ui fluid card" style="width: 70%; margin-left: 15%">
                        <div class="ui fluid image">
                            <a class="ui right corner label" role="closePreview">
                                close
                            </a>
                            <img id="preview" style="width: 200px; height: 200px;" src="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="actions">
            <div class="ui black deny button">
                Отмена
            </div>
            <div class="ui positive button submit" ng-click="updateUser()">
                Обновить
            </div>
        </div>
    </div>

    <!--Окно для создания списка-->
    <div class="ui modal" id="createListWindow" ng-controller="listCtrl">
        <div class="header" style="text-align: center">Создать список</div>
        <div class="content">
            <div class="ui left icon large input field" align="center">
                <input name="newList" ng-model="newListName" type="text" placeholder="Имя списка...">
                <i class="list layout icon"></i>

                <input type="submit" value="Добавить список" ng-click="addNewList(newListName)">
            </div>
            <h4 class="ui horizontal divider header">
                <i class="tag icon"></i>
                Описание
            </h4>
            <div class="ui horizontal list">
                <div class="item">
                    <!--<img class="ui mini circular image" src="/images/avatar2/small/molly.png">-->
                    <div class="content">
                        <div class="ui sub header" ng-cloak>{{user.UserName}}</div>
                        {{user.Email}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ГЛАВНОЕ ОКНО-->
    <div class="pusher">
        <div class="ui stackable grid">
            <!--левое меню для отображения имени пользователя и списка задач-->
            <div class="three wide column">

                <div class="ui segment" style="background-color: ghostwhite; height: 100vh;">
                    <div class="ui search">
                        <div class="ui fluid icon input">
                            <input type="text" class="prompt" placeholder="Search your task...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>

                    <div class="ui divided items">
                        <div class="item" id="username">
                            <a ng-cloak>{{user.UserName}}</a>
                        </div>
                        <div class="ui secondary vertical pointing menu" style="width: 100%" ng-repeat="list in allListsUser.lists">
                            <a class="item" id="list_{{list.Id}}">
                                <span ng-click="sirenItem.loadItems(list)" ng-cloak id="listTitle_{{list.Id}}">{{list.Name}}</span>
                                <div style="float: right">
                                    <span class="hidden editing" id="editIcon_{{list.Id}}" ng-click="sirenList.editTitle(list.Id)"><i class="ui edit icon"></i></span>
                                    <div class="ui label">{{list.CountItem}}</div>
                                </div>

                                <div class="hidden editingblock" id="editingblock_{{list.Id}}">
                                    <br />
                                    <div class="ui input">
                                        <input type="text" value="{{list.Name}}" id="newTitle_{{list.Id}}" placeholder="Новое название списка...">
                                    </div>
                                    <i class="checkmark icon" ng-click="sirenList.changeTitle(list)"></i>
                                    <i class="remove circle outline icon" style="margin-top: 5%" onclick="$('.editingblock').addClass('hidden');"></i>
                                </div>
                            </a>
                        </div>
                        <button class="ui blue basic button" style="position: fixed; bottom: 0; width: 16%" id="createListButton">
                            <i class="plus icon"></i>
                            Создать список
                        </button>
                    </div>
                </div>
            </div>

            <!--Центральная разметка отображающая форму создания задачи и вывод всех задач определенного списка-->
            <div class="thirteen wide column inboxpage" style="margin-left: -15px;">

                <div class="ui segment" style="opacity: 0.85;">

                    <div>
                        <h3 style="margin-top: 10px; margin-left: 10px; color: #668964">Входящие</h3>
                        @*<div style="float: right; margin-top: 10px;">
                                <i class="add user icon"></i>
                                <i class="sort alphabet ascending icon"></i>
                                <i class="ellipsis vertical icon"></i>
                            </div>*@
                    </div><br />

                    <div class="ui grid">
                        <div class="thirteen wide column">
                            <div class="ui segment">
                                <div class="ui input" style="border-radius: 5px; height: 45px; position: inherit; width: 100%">
                                    <i class="add plus icon" style="margin-left: 10px; margin-top: 14px;"></i>
                                    <input type="text" ng-model="newTaskName" style="border: none;" placeholder="Добавить задачу..." id="todoTitle">
                                </div>
                            </div>
                        </div>
                        <div class="one wide column">
                            <button class="ui inverted green button" id="addNewItem" ng-click="sirenItem.addNewTask(newTaskName)">Добавить</button>
                        </div>
                    </div><br /><br />

                    <div id="todos">
                        <div class='ui ignored positive icon message' ng-repeat="item in allItemsList.items | filter : { Status : '1'}">
                            <button style='height: 16px;' ng-click="sirenItem.completeTast(item)"></button>
                            <div class='content' style='margin-left: 20px;'>
                                <span ng-click="sirenItem.showDetails(item)" ng-cloak>{{item.TodoTask}}</span>
                                <i class="trash icon" style="float: right" ng-click="sirenItem.deleteTask(item)"></i>
                            </div>
                        </div>
                    </div><br />

                    <div style="">
                        <button class="ui green basic button" ng-disabled="(allItemsList.items | filter : { Status : '2'}).length == 0" onclick="showComplete()">Показать завершенные задачи</button>
                    </div><br />

                    <div class="" style="display: none" id="completed">
                        <div class='ui ignored positive icon message' ng-repeat="item in allItemsList.items | filter : { Status : '2'}">
                            <button class='completeit' style='height: 16px;' ng-click="sirenItem.incomplete(item)"></button>
                            <div class='content' style='margin-left: 20px;'>
                                <span ng-click="sirenItem.showDetails(item)" ng-cloak>{{item.TodoTask}}</span>
                                <i class="trash icon" style="float: right" ng-click="sirenItem.deleteTask(item)"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/wunderlist")
    <script>
        $('.ui.form')
      .form({
          on: 'blur',
          fields: {
              text: {
                  identifier: 'name',
                  rules: [
                      {
                          type: 'length[' + 1 + ']',
                          prompt: 'Поле не должно быть пустым'
                      }
                  ]
              }
          }
      });
    </script>
    <script>
        var readURL;
        readURL = function(input) {
            var reader;
            if (input.files && input.files[0]) {
                reader = new FileReader();
                reader.onload = function(e) {
                    $("#preview").attr("src", e.target.result);
                    return $("#preview").removeClass("hidden");
                };
                $('#uploadPreview').removeClass('hidden');
                return reader.readAsDataURL(input.files[0]);
            }
            $('#uploadPreview').addClass('hidden');
            return null;
        }
        $("#hiddenFile").change(function() {
            return $("#photoCover").val($(this).val());
        });
        $("#hiddenFile").change(function() {
            return readURL(this);
        });
        $("[role=closePreview]").on('click', function() {
            $('#hiddenFile').val("");
            $('#photoCover').val("");
            //alert(111);
            $("#preview").attr("src", '#');
            $('#uploadPreview').addClass('hidden');
        });


        $('#uploadForm')
            .form({
                on: 'submit',
                fields: {
                    photoCover: {
                        identifier: 'photoCover',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Photo not selected'
                            }
                        ]
                    },
                    Description: {
                        identifier: 'Description',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Description is empty'
                            }
                        ]
                    },
                }
            });

        $("#uploadForm").on('submit', function (data) {
            if ($('#photoCover').val() && $('#photoDescription').val()) {
                var btn = $('#realSubmit');
                btn.click();
                $('#uploadRow').replaceWith($('#loading'));
            }
        });
    </script>
</body>
</html>
