
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/wunderlist.css" rel="stylesheet" />
<link href="~/Content/semantic.css" rel="stylesheet" />
<script src="~/Scripts/semantic.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inbox</title>
</head>
<body>
    <div class="ui grid">
        <div class="three wide column">
            <div style="height: 45px; background-color: darkcyan; display: flex;">
                <div>
                    <svg class="list-toggle" width="20px" height="20px" style="margin-left: 10px; margin-top: 10px;" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                        <g>
                            <path d="M0.5,3.5l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                            <path d="M0.5,9.53l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                            <path d="M0.5,15.5l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                        </g>
                    </svg>
                </div>
                <div class="ui search"style="margin-left: 10px; margin-top: 3px;">
                    <div class="ui icon input">
                        <input class="prompt" style="background-color: darkcyan; border: none; width: 290px;" type="text" placeholder="">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="ui divided items">
                <div class="item">
                    <div class="ui tiny image">
                        <img src="">
                    </div>
                    <div class="left aligned content">
                        Username
                    </div>
                    <i class="alarm outline icon" style="margin-right: 40px;"></i>
                    <i class="comment outline icon" style="margin-right: 10px;"></i>
                </div>
                <div class="item">
                    <i class="mail outline icon"></i>
                    <div class="center aligned content">
                        Входящие
                    </div>
                </div>
                @for (int i = 0; i < 5; i++)
                {
                    <div class="item">
                        <i class="list layout icon"></i>
                        <div class="middle aligned content">
                            Список @i
                        </div>
                    </div>
                }
            </div>
            <div style="margin-bottom: 0px;">
                <button class="ui blue basic button" style="width: 100%"><i class="plus icon"></i>Создать список</button>
            </div>
        </div>
        <div class="thirteen wide column">
            <div class="ui secondary vertical menu">
                <a class="item">
                    Account
                </a>
                <a class="item">
                    Settings
                </a>
                <div class="ui dropdown item">
                    <i class="dropdown icon"></i>
                    Display Options
                    <div class="menu">
                        <div class="header">Text Size</div>
                        <a class="item">Small</a>
                        <a class="item">Medium</a>
                        <a class="item">Large</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    
    var content = [
  { title: 'Andorra' },
  { title: 'United Arab Emirates' },
  { title: 'Afghanistan' },
  { title: 'Antigua' },
  { title: 'Anguilla' },
  { title: 'Albania' },
  { title: 'Armenia' },
  { title: 'Netherlands Antilles' },
  { title: 'Angola' },
  { title: 'Argentina' },
  { title: 'American Samoa' },
  { title: 'Austria' },
  { title: 'Australia' },
  { title: 'Aruba' },
  { title: 'Aland Islands' },
  { title: 'Azerbaijan' },
  { title: 'Bosnia' },
  { title: 'Barbados' },
  { title: 'Bangladesh' },
  { title: 'Belgium' },
  { title: 'Burkina Faso' },
  { title: 'Bulgaria' },
  { title: 'Bahrain' },
  { title: 'Burundi' }
  // etc
    ];

    $('.ui.search')
            .search({
                source: content
            })
        ;
</script>
