.intro {
    background: #db4c3f;
    overflow: hidden;
    position: relative;
    width: 1899px;
    height: 679px;
    background-image: url('images/pictos.svg')
}

.logo {
    width: 28px;
    height: 28px;
    background-size: 28px;
    left: 10px;
    background-image: url('images/logo.png');
}

.wordmark {
    position: absolute;
    font-size: 18px;
    color: black;
    left: 45px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wunderlist-link {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wunderlist-link:hover {
    color: blue;
}
