
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/wunderlist.css" rel="stylesheet" />
<link href="~/Content/semantic.css" rel="stylesheet" />
<script src="~/Scripts/semantic.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="ui centered stackable grid" style="margin-top: 50px;">
        <img width="100" height="75" src="~/Content/images/logo.png" />
        <div class="six column centered row">
            <div class="column">
                <form class="ui form">
                    <div class="ui left icon input field">
                        <input name="email" type="text" placeholder="Электронная почта">
                        <i class="mail icon"></i>
                    </div>
                    <div class="ui left icon input field">
                        <input name="password" type="text" placeholder="Пароль">
                        <i class="lock icon"></i>
                    </div>
                    <div class="ui submit primary button" style="width: 100%;">Вход</div>
                    <div class="ui error message"></div>
                    <br /><br />
                    <div align="center">@Html.ActionLink("Забыли пароль?", "")</div>
                </form>
                <br />
                <div class="three column ui grid container">
                    <div class="column">
                        <button class="ui mini inverted blue button"><i class="facebook square icon"></i></button>
                    </div>
                    <div class="column">
                        <button class="ui mini inverted red button"><i class="google square icon"></i></button>
                    </div>
                    <div class="column">
                        <button class="ui mini white button"><i class="windows icon"></i></button>
                    </div>
                </div>
                <br />
                <div align="center">Нет учетной записи? @Html.ActionLink("Создать учетную запись", "Register")</div>
            </div>
        </div>
    </div>
</body>
</html>
