
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-2.2.0.js"></script>
<link href="~/Content/wunderlist.css" rel="stylesheet" />
<link href="~/Content/semantic.css" rel="stylesheet" />
<script src="~/Scripts/semantic.js"></script>
<script>

    $(document).ready(function () {
        $("body").on("click", ".ui.ignored.positive.icon.message", function () {
            $('.ui.sidebar').sidebar('toggle');
        })
    });

        function showComplete() {
        var completed = document.getElementById("completed");
        if (completed.style.display === "none") {
            completed.style.display = "inherit";
        } else {
            completed.style.display = "none";
        }
    };
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inbox</title>
</head>
<body>
<div class="ui simple sidebar vertical menu right">
    <div>
        <h3 style="text-align: center">name</h3>
    </div>
    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Задать дату выполнения">
        <i class="calendar icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Напомнить">
        <i class="clock icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Добавить подзадачу">
        <i class="plus icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Добавить заметку">
        <i class="pencil icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Добавить файл">
        <i class="attach icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px; position: fixed;bottom: 0">
        <input name="email" type="text" placeholder="Добавить комментарий">
        <i class="comment icon"></i>
    </div>
</div>
    <div class="ui standard test modal transition hidden">
    <div class="header">
        Free account
    </div>
    <div class="image content">
        <div class="ui medium image">
                <img style="border-radius: 150px;" src="~/Content/images/Homer-Simpson.jpg" />
        </div>
        <div class="description">
            <div class="ui header">Profile</div>
                <br />
            <div class="ui input large">
                <label>Name</label>
                <input type="text" style="width: 380px; margin-left: 30px;" placeholder="name">
            </div>
                <br /><br />
            <div class="ui input large">
                <label>Email</label>
                <input type="text" placeholder="email" style="margin-left: 33px;">
                <button style="margin-left: 50px;" class="ui black basic button">Change Email</button>
            </div>
                <br /><br />
            <div class="ui input large">
                <label>Password</label>
                <button style="width: 205px; margin-left: 5px;" class="ui black basic button">Change Password</button>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
    <div class="ui stackable grid">
        <div class="three wide column">
            <div class="ui segment"style="background-color: ghostwhite; height: 100vh;">
                <div class="ui search">
                    <div class="ui fluid icon input">
                        <input type="text" class="prompt" placeholder="Search your task...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        <div class="ui divided items">
            <div class="item">
                <div class="ui tiny image">
                    <img src="">
                </div>
                <div class="left aligned content" id="username">
                    <a>@User.Identity.Name</a>
                </div>
                        @*<i class="alarm outline icon"></i>
                            <i class="comment outline icon"></i>*@
                   
            <div class="item">
                <i class="mail outline icon"></i>
                <div class="center aligned content">
                    Входящие
                </div>
            </div>
            @for (int i = 0; i < 5; i++)
            {
                <div class="item">
                    <i class="list layout icon"></i>
                    <div class="middle aligned content">
                        Список @i
                    </div>
                </div>
            }
                        <button class="ui blue basic button" style="position: fixed; bottom: 0;width: 16%"><i class="plus icon"></i>Создать список</button>
        </div>
        </div>
    </div>
        <div class="thirteen wide column inboxpage" style="margin-left: -15px;">
            <div class="ui segment" style="opacity: 0.85;">
                <div>
                    <h3 style="margin-top: 10px; margin-left: 10px; color: #668964">Входящие</h3>
                    @*<div style="float: right; margin-top: 10px;">
                <i class="add user icon"></i>
                <i class="sort alphabet ascending icon"></i>
                <i class="ellipsis vertical icon"></i>
                        </div>*@
                </div>

                <br />

                <div class="ui grid">
                    <div class="thirteen wide column">
                        <div class="ui segment">
                            <div class="ui input" style="border-radius: 5px; height: 45px; position: inherit;width: 100%">
                                <i class="add plus icon" style="margin-left: 10px; margin-top: 14px;"></i>
                                <input type="text" style="border: none;" placeholder="Добавить задачу..." id="todoTitle">
                            </div>
                        </div>
            </div>
                    <div class="one wide column">
                       <button class="ui inverted green button" id="addNewItem">Добавить</button>
        </div>
        </div>
                <br /><br />

        <div id="todos">
            <div class='ui ignored positive icon message' id='0'>
                <button class='completeit' style='height: 16px;'></button>
                <div class='content' style='margin-left: 20px;'>
                    <h3 class='header'>asaaa<i class="trash icon" style="float: right"></i></h3>
                </div>
            </div>
        </div>
                <br />
        <div style="">
            <button class="ui green basic button" onclick="showComplete()">Показать завершенные задачи</button>
        </div>
                <br />

        <div class="" style="display: none" id="completed">
                    <div class='ui ignored positive icon message' id='0'>

                <button class='completeit' style='height: 16px;'></button>
                <div class='content' style='margin-left: 20px;'>

                    <h3 class='header'>bbbbbbbbbbbb</h3>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#username").click(function () {
            $('.ui.modal').modal('show');
        });
    });

    $(document).ready(function () {
        $(".ui.ignored.positive.icon.message").click(function () {
            $('.ui.sidebar').sidebar('toggle');
        });
    });
    

    $(document).ready(function () {
        $("#addNewItem").click(function () {
            var title = $("#todoTitle").val();
            var todo = "<div class='ui ignored positive icon message' id='0'>" +
                "<button class='completeit' style='height: 16px;'></button>" +
                "<div class='content' style='margin-left: 20px;'>" +
                    "<h3 class='header'>" + title + "<i class='trash icon' style='float: right'></i></h3>" +
                "</div></div>";

            //var todo = "<div class='ui ignored positive icon message' id='0'>" +
            //    "<button class='completeit' style='height: 16px;' onclick='completeit(this)'></button>" +
            //    "<div class='content' style='margin-left: 20px;'>" +
            //    "<h3 class='header'>" + title + "</h3></div></div>";
            $("#todoTitle").val('');
            $("#todos").append(todo);
        });
    });
</script>

<script>

    var content = [
        { title: 'Andorra' },
        { title: 'United Arab Emirates' },
        { title: 'Afghanistan' },
        { title: 'Antigua' },
        { title: 'Anguilla' },
        { title: 'Albania' },
        { title: 'Armenia' },
        { title: 'Netherlands Antilles' },
        { title: 'Angola' },
        { title: 'Argentina' },
        { title: 'American Samoa' },
        { title: 'Austria' },
        { title: 'Australia' },
        { title: 'Aruba' },
        { title: 'Aland Islands' },
        { title: 'Azerbaijan' },
        { title: 'Bosnia' },
        { title: 'Barbados' },
        { title: 'Bangladesh' },
        { title: 'Belgium' },
        { title: 'Burkina Faso' },
        { title: 'Bulgaria' },
        { title: 'Bahrain' },
        { title: 'Burundi' }
        // etc
    ];

    $('.ui.search')
            .search({
                source: content
            })
        ;
</script>
