<div class="ui simple sidebar vertical menu right">
    <div>
        <h3 style="text-align: center">name</h3>
    </div>
    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Задать дату выполнения">
        <i class="calendar icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Напомнить">
        <i class="clock icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Добавить подзадачу">
        <i class="plus icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Добавить заметку">
        <i class="pencil icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px;">
        <input name="email" type="text" placeholder="Добавить файл">
        <i class="attach icon"></i>
    </div>

    <div class="ui left icon input field" style="width: 258px; position: fixed; bottom: 0">
        <input name="email" type="text" placeholder="Добавить комментарий">
        <i class="comment icon"></i>
    </div>
</div>
<div class="ui standard test modal transition hidden" id="profileWindow">
    <div class="header">
        Free account
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img style="border-radius: 150px;" src="~/Content/images/Homer-Simpson.jpg"/>
        </div>
        <div class="description">
            <div class="ui header">Profile</div>
            <br/>
            <div class="ui input large">
                <label>Name</label>
                <input type="text" style="width: 380px; margin-left: 30px;" placeholder="name">
            </div>
            <br/><br/>
            <div class="ui input large">
                <label>Email</label>
                <input type="text" placeholder="email" style="margin-left: 33px;">
                <button style="margin-left: 50px;" class="ui black basic button">Change Email</button>
            </div>
            <br/><br/>
            <div class="ui input large">
                <label>Password</label>
                <button style="width: 205px; margin-left: 5px;" class="ui black basic button">Change Password</button>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Отмена
        </div>
        <div class="ui positive right labeled icon button">
            Изменить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" style="width: 33%; margin-left: -15%;" id="createListWindow">
    <div class="header" style="text-align: center">Создать список</div>
    <div class="content" align="center">
        <div class="actions" style="display:none">
        <div class="ui black deny button" id="close"></div>
    </div>
        <form ng-submit="addlist()"
              style="margin-top: 30px;">
            <div class="ui left icon large input field">
                <input type="text"
                       class="ui form-control"
                       placeholder="Имя списка..."
                       ng-model="title"></input>
                <i class="list layout icon"></i>
            </div>
            <button type="submit" class="ui green basic button">Создать</button>
        </form>

        <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>
            Описание
        </h4>
        <div class="ui horizontal list">
            <div class="item">
                <!--<img class="ui mini circular image" src="/images/avatar2/small/molly.png">-->
                <div class="content">
                    <div class="ui sub header">@User.Identity.Name</div>
                    E-mail
                </div>
            </div>
        </div>
    </div>

</div>

<div class="ui stackable grid">
    <div class="three wide column">
        <div class="ui segment" style="height: 100vh;">
            <div class="ui search">
                <div class="ui fluid icon input">
                    <input type="text" class="prompt" placeholder="Search your task...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <div class="ui divided items">
                <div class="item" id="username" onclick="$('#profileWindow').modal('show');">
                    <a id="user_name">UserName</a>
                </div> 
                <div class="ui secondary vertical pointing menu" ng-repeat="list in lists" style="width: 100%">
                    <a class="item" ng-click="displayItems(list.id)" id="list_{{list.id}}">
                        {{list.title}}
                    </a>
                </div>
                <button class="ui blue basic button" style="position: fixed; bottom: 0; width: 16%" 
                        onclick="$('#createListWindow').modal('show');">
                    <i class="plus icon"></i>
                    Создать список
                </button>
            </div>
        </div>
    </div>
    <div class="thirteen wide column inboxpage" style="margin-left: -15px;">
        <div class="ui segment" style="opacity: 0.85;">
            <div>
                <h3 style="margin-top: 10px; margin-left: 10px; color: #668964">Входящие</h3>
            </div>
            <br/>
            <div class="ui grid">
                <div class="thirteen wide column">
                    <div class="ui segment">
                        <div class="ui input" style="border-radius: 5px; height: 45px; position: inherit; width: 100%">
                            <i class="add plus icon" style="margin-left: 10px; margin-top: 14px;"></i>
                            <input type="text" style="border: none;" placeholder="Добавить задачу..." id="todoTitle">
                        </div>
                    </div>
                </div>
                <div class="one wide column">
                    <button class="ui inverted green button" id="addNewItem">Добавить</button>
                </div>
            </div>
            <br/><br/>
            <div id="todos">
                <div class='ui ignored positive icon message' ng-repeat="todoitem in todoitems">
                    <button class='completeit' style='height: 16px;'></button>
                    <div class='content' style='margin-left: 20px;'>
                        <h3 class='header' id="{{todoitem.ID}}">
                            {{todoitem.TodoTask}}<i class="trash icon" style="float: right"></i>
                        </h3>
                    </div>
                </div>
            </div>
            <br/>
            <div class="ui pagination menu" ng-repeat="button in buttons">
                <a class="item" ng-click="getPage(0,button.no,false)" id="button_{{button.no}}">
                    {{button.no}}
                </a>
            </div>
            <br/>
            <br/>
            <div>
                <button class="ui green basic button" onclick="showComplete()">Показать завершенные задачи</button>
            </div>
            <br/>
            <div class="" style="display: none" id="completed">
                <div class='ui ignored positive icon message' id='0'>
                    <button class='completeit' style='height: 16px;'></button>
                    <div class='content' style='margin-left: 20px;'>
                        <h3 class='header'>bbbbbbbbbbbb</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















